@font-face {
    font-family: 'Stella';
    src: url('../fonts/stella.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}
.css-dniud9a{
    padding-top: 38px;
    font-size: 55px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    font-family: 'stella';
}
.css-fhk2nsa{
    font-size: 15px;
    line-height: 1.62;
    color: rgba(49,53,59,0.96);
    font-weight: 500;
}
.css-dcnk23j{
    margin-top: 100px;
    position: relative;
    display: block;
    width: 100%;
}
.css-fnk2skj{
    margin: 24px 0px;
    padding: 0px;
    border-color: #d6dfeb;
    background-color: #ffffff;
    cursor: default;
    display: block;
    border-radius: 0px;
    box-shadow: none;
    position: relative;
    min-height: 138px;
}
.css-po2jsm{
    margin-top: 45px;
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
    -webkit-box-align: baseline;
    align-items: baseline;
    min-height: 30px;
    margin-bottom: 16px;
}
.css-hjsa2js{
    display: flex;
    flex: 0 1 auto;
    flex-flow: row;
    -webkit-box-align: baseline;
    align-items: baseline;
    overflow: hidden;
}
.css-cjdkja{
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: left;
    color: #212121;
    /* overflow: hidden; */
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
.css-diop1ms{
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 12px));
    grid-template-rows: repeat(2, 100px);
    gap: 16px;
}
.css-jk1hsk{
    display: block;
    position: relative;
    border: 1px solid #d6dfeb;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 rgba(141,150,170,0.4);
    height: 100%;
    padding: 12px;
    margin: 0;
}
.css-lojd1h{
    background-repeat: no-repeat;
    background-size: 99% 100%;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    position: absolute;
    top: 0px;
    left: -3px;
    height: 100px;
    width: 100px;
}
.css-menu-img{
    width: 100%;
    object-fit: cover;
    border-radius: 6px 0px 0px 6px;
}
.css-kanan-text{
    padding-top: 6px;
    margin-left: 70px;
    position: relative;
    width: 100%;
}
.css-kanan-text h4{
    font-size: 17px;
    font-weight: 600;
    color: #212121;
    margin: 0px 0px 6px;
    line-height: 19px;
    max-height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.css-kanan-text p{
    font-size: 13px;
    margin: 0;
    line-height: 22px;
    display: -webkit-box;
    width: 180px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.css-text-p{
    color: #707070;
    font-size: 17px;
    line-height: 130%;
    font-family: sans-serif;
    width: 75%;
    margin-top: 20px;
}
.css-scnk2n{
    padding-top: 120px;
}
.testimoni{
    margin: 0 60px;
    display: block;
}
.css-cnk32ns{
    margin-top: 60px;
    margin-bottom: 80px;
    position: relative;
}
.css-dfnn2ka{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}
.css-tes-header{
    width: 50%;
}
.css-tes-header h3 span:after{
    background: url('../images/sparkle.svg') no-repeat 100%;
    bottom: 18px;
    content: "";
    margin-left: -20px;
    top: -31px;
    position: absolute;
    height: 50px;
    width: 50px;
}
.css-cnka2he{
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(141,150,170,0.4);
    border-radius: 8px;
    box-sizing: border-box;
    height: 355px;
    margin: 0 20px 30px;
    padding: 30px 20px;
    text-align: center;
}
.css-cnka2he .css-fjl2js{
    width: 74px;
    height: 74px;
    position: relative;
    margin: auto;
}
.css-cnka2he h5{
    font-weight: 600;
    font-size: 15px;
    color: #212121;
    margin: 20px 0 10px;
}
.paketMitra{
    padding: 130px 0 87px;
    margin: 0 60px;
    display: block;
}
.d-flex{
    display: flex;
}
.css-bungkus-card{
    border-radius: 8px;
    flex-grow: 1;
    height: 100%;
    /* max-width: 218px; */
    max-width: 260px;
    min-height: 300px;
    min-width: 260px;
    position: relative;
}
.css-bungkus-card-atas-a{
    background: linear-gradient(221.15deg, #b8dff6 1.73%, #add6f8 76.11%);
    height: 270px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 12px;
    position: relative;
}
.css-bungkus-card-atas-b{
    background: linear-gradient(221.15deg, #fdeded 1.73%, #fbdfde 76.11%);
    height: 270px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 12px;
    position: relative;
}
.css-bungkus-card-atas-c{
    background: linear-gradient(221.15deg, #fde9d0 1.73%, #fdddc8 76.11%);
    height: 270px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 12px;
    position: relative;
}
.css-bungkus-card-atas-d{
    background: linear-gradient(221.15deg, #f1f4e9 1.73%, #e6ecd2 76.11%);
    height: 270px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 12px;
    position: relative;
}
.css-label-atas{
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.css-bungkus-label{
    padding: 4px 14px;
    align-items: center;
    background: #00bf71;
    border-radius: 8px;
    color: #fff;
    display: inline-flex;
    gap: 8px;
    position: relative;
    z-index: 3;
}
.css-text-label{
    color: #333;
    font-family: Inter,sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 4px;
    margin-top: 8px;
    position: relative;
    z-index: 3;
}
.css-text-sub-label{
    color: #333;
    margin-top: 10px;
    line-height: 21px;
    font-size: 15px;
    font-family: Inter,sans-serif;
    font-weight: 700;
    position: relative;
    z-index: 3;
}
.css-img-paket{
    bottom: 12px;
    object-fit: contain;
    position: absolute;
    width: 100%;
    left: 0px;
}
.css-margin{
    margin: 0;
    padding: 0;
}
.css-cnka2he h6{
    font-weight: 400;
    font-size: 14px;
    color: #707070;
    margin: 0;
}
.css-cnka2he p{
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    color: #707070;
    line-height: 23.8px;
    margin-top: 16px;
}
.css-dajk2js{
    max-width: 2440px;
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-basis: 0%;
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
}
.faq-list{
    padding: 0 100px;
}
.faq-list ul{
    padding: 0;
}
.faq-list li{
    padding: 20px;
}
.accordion-container {
    position: relative;
    width: 100%;
    border-top: none;
    outline: 0;
    cursor: pointer
}

.faq-list .article-title {
    display: flex;
    position: relative;
    font-family: "Poppins";
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.accordion-content {
    display: none;
    padding-left: 42px;
    /* padding-left: 2.3125em; */
}
.accordion-content p{
    padding: 10px 0 0 0;
}

#content {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 48px;
}
.content-entry{
    display: block;
}

#description p {
    line-height: 1.5;
}

#description h2 {
    text-align: center;
}
.fa-angle-down{
    margin-left: auto;
    color: #212121;
}
.css-text-faq1{
    color: #444857;
    margin-right: 20px;
    font-size: 23px;
}
.css-text-faq2{
    color: #212121;
    font-weight: 600;
    font-size: 18px;
}
.css-bungkus-card-bawah{
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    box-shadow: 0 1px 6px 0 rgba(141,150,170,0.4);
    margin-top: -12px;
    min-height: 200px;
    padding: 12px;
    position: relative;
}
.css-text-informasi-top{
    font-size: 12px;
    line-height: 20px;
    color: #333;
    font-weight: 600;
}
.css-bungkus-harga{
    align-items: flex-end;
    display: flex;
}
.css-bungkus-harga .css-harga-paket{
    color: #212121;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
}
.css-href-beli{
    background: #4851DE;
    border: none;
    border-radius: 96px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding: 6px 12px;
    text-align: center;
}
.css-paket-preview{
    gap: 8px;
    min-height: 136px;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}
.css-paket-preview>li{
    display: flex;
    gap: 6px;
}
.css-preview-icon{
    flex-shrink: 0;
}
.css-preview-icon img{
    margin-top: 5px;
}
.css-paket-preview>li>p{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #333;
}
.css-login{
    width: 100%;
}
.css-vnm2snk{
    position: relative;
    margin-top: 30px;
    min-height: 580px;
}
.css-vnm2snk .css-bg-login{
    width: 816px;
    margin: 0 auto;
    display: block;
}
.css-vnm2snk .css-ghj2sja{
    width: 368px;
    background: #fff;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0px;
    margin: auto;
    border-radius: 8px;
    padding: 32px;
}
.css-cnfm2nsa{
    display: block;
    position: relative;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    border-color: #d6dfeb;
    box-shadow: 0 1px 4px rgba(141,150,170,0.4);
    background-color: #fff;
}
.css-vbaj2ns{
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 26px;
}
.css-vbaj2ns > h3{
    margin: 0;
}
.css-fhk3js{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 23px;
    line-height: 34px;
    font-family: sans-serif;
    color: #212121;
}
.css-pogn2ns{
    font-size: 0.9285714285714286rem;
    margin-top: 42px;
    text-align: left;
    color: rgba(0,0,0,0.54);
}
.css-cabj2s{
    position: relative;
}
.css-fb2kakd{
    margin-bottom: 16px;
}
.css-label{
    color: rgba(49,53,59,0.68);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    display: inline-block;
    pointer-events: none;
    margin-bottom: 4px;
}
.css-btn-masuk{
    background-color: #00bf71;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 16px;
    height: 40px;
    line-height: 20px;
    outline: none;
    position: relative;
    padding: 0px 16px;
    width: 100%;
    margin-bottom: 16px;
}
.css-syarat-bawah{
    font-weight: 500;
    font-size: 10px;
    line-height: 0;
    color: rgba(0, 0, 0, 0.6);
    margin: 0px;
}
.css-text-mai{
    font-size: 14px;
    color: #00bf71;
    font-weight: 600;
}