@media screen and (max-width: 399px){
    .css-xcvf6ga .css-xcvf6gb{
        padding: 2rem 1rem!important;
    }
    .css-dn4naop{
        width: 100%!important;
        font-size: 12px!important;
        padding: 5px!important;
    }
    .css-dn4naopi{
        font-size: 12px!important;
        width: 100%!important;
        padding: 5px!important;
    }
    .dataTables_length{
        text-align: left!important;
    }
    .dataTables_filter{
        text-align: left!important;
    }
}
@media screen and (max-width: 350px) {
    .css-xcvf6ga .css-xcvf6gb{
        padding: 2rem 1rem!important;
    }
    .css-dn4naop{
        width: 100%!important;
        font-size: 12px!important;
        padding: 5px!important;
    }
    .css-dn4naopi{
        font-size: 12px!important;
        width: 100%!important;
        padding: 5px!important;
    }
    .dataTables_length{
        text-align: left!important;
    }
    .dataTables_filter{
        text-align: left!important;
    }
}
@media screen and (min-width: 310px) and (max-width: 340px) {

    .css-xcvf6ga .css-xcvf6gb{
        padding: 2rem 1rem!important;
    }
    .css-dn4naop{
        width: 100%!important;
        font-size: 10px!important;
        padding: 5px!important;
        line-height: 20px!important;
    }
    .css-dn4naopi{
        font-size: 12px!important;
        width: 100%!important;
        padding: 5px!important;
        line-height: 20px!important;
    }
    .dataTables_length{
        text-align: left!important;
    }
    .dataTables_filter{
        text-align: left!important;
    }
}
.content-header{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-bottom: 16px;
    gap: 16px;
    padding: 20px 20px 0px 32px;
}
.content-title{
    margin-top: 12px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.css-lk3jsp{
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #212121;
    line-height: 20px;
}
button.close{
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.css-flj2ej{
    padding-top: 0px;
    height: 100%;
    padding: 0px 20px 32px;
}
.css-fjkpo0ma{
    text-align: left;
    max-height: 500px;
    padding: 16px;
    overflow: hidden scroll;
}
.css-wj23sk{
    padding-bottom: 16px;
    border-bottom: 1px solid #E5E7E9;
}
.css-pp2kjsn{
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin: 0px 0px 16px;
}
.css-fhxb1ns{
    display: flex;
    flex-wrap: nowrap;
    left: 0px;
    margin: 0px auto;
    position: relative;
    top: 0px;
    width: 100%;
}
.css-akcdj8w{
    background-color: rgb(204, 229, 255);
    display: flex;
    flex: 1 0 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    color: #212121;
    padding: 12px;
    border-radius: 8px;
}
.css-gh3knsa{
    margin-right: 4px;
    width: 24px;
}
.css-vcnak2s{
    font-size: 0.9rem;
    line-height: 22px;
    letter-spacing: 0px;
    margin: 0px;
    color: #004085;
}
.css-fnak2bsk{
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    padding:0.3125rem 0.4375rem;
    background-color:#e2e2e2;
    color: #212121;
}
.css-height-30{
    height: 30px;
}
.css-ca2jq0s{
    background-color: #fff;
    border: 1px solid #bfc9d9;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    margin-right: 8px;
    display: inline-block;
    font-family: inherit;
    font-weight: bold;
    font-size: 12px;
    height: 40px;
    line-height: 37px;
    outline: none;
    position: relative;
    padding: 0px 16px;
    text-indent: initial;
    width: 190px;
    color: #525867!important;
}
.css-kl2kd9a{
    background-color: #039344;
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-family: inherit;
    font-weight: bold;
    font-size: 12px;
    height: 40px;
    line-height: 24px;
    outline: none;
    position: relative;
    padding: 0px 16px;
    text-indent: initial;
    width: 190px;
}
.css-fcjak2js{
    color: #6D7588;
    font-size: 1rem;
    font-weight: 500;
    margin: 0px 3px 0px 0px;
    line-height: 1.1;
}
.css-cna2lks9{
    font-size: 1.42857rem;
    color: #212121;
    font-weight: 700;
    margin: 4px 0px;
    line-height: 28px;
    letter-spacing: -0.2px;
}
.alert-success{
    color: #0f5132!important;
    border: 1px solid #0f5132!important;
}
.password-toggle {
    position: relative;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: auto;
}
.toggle-password i {
    pointer-events: none;
}
.css-fcabk9sn{
    background-color: #ecf0f1;
    color: #3F4254;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 0.425rem;
    padding-right: 0.725rem;
    padding-bottom: 0.425rem;
    padding-left: 0.725rem;
    width: 70%;
    font-size: 0.85rem;
    font-weight: 600;
}
.css-fcabk9sa{
    background-color: #ecf0f1;
    color: #3F4254;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 0.725rem;
    padding-bottom: 0.425rem;
    padding-left: 0.725rem;
    width: 70%;
    font-size: 0.85rem;
    font-weight: 600;
}
.form-check-custom.form-check-solid .form-check-input:checked{
    background-color: #00BF71!important;
}
.css-dtu37sh{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-bottom: 16px;
    gap: 16px;
    padding: 20px 20px 0px 32px;
}
.css-cfn3ksa{
    margin-top: 4px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.css-fhk9sna{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0px;
}
.css-fnm3aj{
    display: block;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.1px;
    margin: 0;
}
.css-cnm6w2a{
    height: 100%;
    overflow-y: auto;
    padding: 0px 32px 32px;
}
.css-bnm3js{
    text-align: left;
    max-height: 500px;
    /* padding: 16px; */
    overflow: hidden scroll;
}
.css-vbdw2js{
    padding-bottom: 16px;
    /* border-bottom: 1px solid #E5E7E9; */
}
.css-hk23nab{
    padding-bottom: 15px;
    border-bottom: 8px solid #F0F3F7;
    text-align: left;
}
.css-sui2nz{
    border-bottom: thin dashed #E5E7E9;
    padding: 0px 0px 13px;
    margin: 0px 0px 12px;
}
.css-dhj9nda{
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px 0px 8px;
}
.css-poh2hs{
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0;
    color: #525867;
    margin: 0px;
}
.css-n4js9na{
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0;
    color: #212121;
    line-height: 18px;
    margin: 0px;
}
.css-kdfh3a{
    padding: 24px 0px;
    text-align: left;
}
.css-kdfh3a .css-jgdh2a{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px 0px 13px;
}
.css-gh9fjq{
    color: #212121;
    font-weight: 700;
    font-size: 1rem;
    line-height: 18px;
    margin: 0px;
}
.css-bn34bal{
    padding: 0px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border: 1px solid #D6DFEB;
    background-color: #FFFFFF;
    margin: 0px 0px 25px;
}
.css-bn34bal .css-pouys8k{
    padding: 16px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
}
.css-bn34bal .css-pouys8k .css-hj7sb2a{
    padding: 0px 16px 0px 0px;
    width: calc(100% - 152px);
}
.css-bn34bal .css-pouys8k .css-hj7sb2a .css-produk-info{
    display: flex;
    align-items: flex-start;
}
.css-uwad2ha{
    padding-right: 15px;
}
.css-bn34bal .css-pouys8k .css-hj7sb2a .css-produk-info img{
    border-radius: 6px;
    margin: 0px 13px 0px 0px;
}
.css-nama-prod{
    font-weight: bold;
    color: #212121;
    line-height: 18px;
    margin: 0px 0px 2px;
}
.css-bag-p{
    font-weight: 500;
    color: #7E8299;
    font-size: 14px;
}
.css-bn34bal .css-pouys8k .css-harga-prod{
    width: 152px;
    padding: 0px 0px 0px 16px;
    position: relative;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    border-left: thin dashed #F0F3F7;
}
.css-bn34bal .css-pouys8k .css-harga-prod .css-total-amount{
    width: 100%;
    text-align: right;
}
.css-i9mf6m{
    margin: 12px 0px 0px;
}
.css-i9mf6m .css-iopf2sj{
    margin: 0px 0px 13px;
    display: flex;
    align-items: flex-start;
}
.css-i9mf6m .css-iopf2sj > p{
    width: 125px;
}
.css-fgusn1a{
    font-weight: 500;
    color: #525867;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    margin: 0px;
}
.css-i9mf6m .css-iopf2sj > span{
    margin: 0px 14px 0px 0px;
}
.css-i9mf6m .css-iopf2sj .css-fgdh0kl{
    width: calc(100% - 90px);
}
.css-dabj72{
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 3px solid #e2e2e2;
}
.css-pp2kjsn{
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin: 0px 0px 16px;
}
.css-fhxb1ns{
    display: flex;
    flex-wrap: nowrap;
    left: 0px;
    margin: 0px auto;
    position: relative;
    top: 0px;
    transition: transform 240ms linear 0s;
    width: 100%;
}
.css-akcdj8w{
    background-color: rgb(204, 229, 255);
    border-color: rgb(184, 218, 255);
    display: flex;
    flex: 1 0 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    padding: 12px;
    border-radius: 8px;
}
.css-akcdj8ws{
    background-color: #ffa6c1;
    border-color: #dc3545;
    display: flex;
    flex: 1 0 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    padding: 12px;
    border-radius: 8px;
}
.css-vubsk2a{
    margin-right: 10px!important;
    width: 24px;
}
.css-jdk02ns{
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    color: rgb(0, 64, 133)!important;
}
.css-dn4naop{
    background-color: #fff;
    border: 1.2px solid #039344;
    border-radius: 8px;
    color: #039344;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-family: inherit;
    font-weight: bold;
    font-size: 13px;
    height: 30px;
    line-height: 0px;
    outline: none;
    position: relative;
    margin-right: 7px;
    padding: 7px;
    text-indent: initial;
    width: 120px;
}
.css-dn4naopi{
    background-color: #039344;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-family: inherit;
    font-weight: bold;
    font-size: 13px;
    height: 40px;
    line-height: 0px;
    outline: none;
    position: relative;
    padding: 10px;
    text-indent: initial;
    width: 190px;
}
.css-fjl2jsa{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: rgba(141, 150, 170, 0.4) 0px 1px 4px;
    pointer-events: all;
    max-height: 100%;
    min-width: 500px;
    opacity: 1;
    width: 500px;
    border-radius: 8px;
    transition: opacity 0.2s ease 0s;
}
.css-content-header{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-bottom: 16px;
    gap: 16px;
    padding: 20px 20px 0px 32px;
}
.css-content-title{
    margin-top: 4px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.css-josq1jas{
    text-align: left;
    border-bottom: 8px solid rgb(240, 243, 247);
    padding: 14px 5px;
}
.css-btn-konf{
    background: #fff;
    border: 1px solid #bfc9d9;
    height: 40px;
    width: 120px;
    color: #525867;
    border-radius: 8px;
    padding: 0px 16px;
    font-size: 12px;
    font-weight:bold;
}
.css-cuod2sp{
    display: flex;
    padding: 20px 2.25rem 20px 2.25rem;
    justify-content: space-between;
    min-height: 70px;
}
.css-cop8db2b{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    width: 350px;
    min-width: 350px;
}
.css-hj3ska{
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #31353B;
    padding-bottom: 8px;
    max-width: 280px;
}
.css-kolp9jd{
    font-style: normal;
    font-weight: normal;
    font-size: 0.857143rem;
    line-height: 18px;
    color: #31353B;
}
.css-n9gj4ms{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    position: relative;
}
.css-jisq1js{
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px 0px 8px;
}
.menu-active-primary .menu-item .menu-link.active .menu-icon, .menu-active-primary .menu-item .menu-link.active .menu-icon .svg-icon, .menu-active-primary .menu-item .menu-link.active .menu-icon i{
    color: #fff;
}
.menu-active-primary .menu-item .menu-link.active .menu-title{
    color: #fff;
}
.css-hdk82bsa.active{
    background-color: #039344;
    border-radius: 10px;
    height: 40px;
    padding: 4px 12px;
}
